@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
.wrapper{
    font-family: 'Ubuntu', sans-serif;
    background-image: url(../img/background.png);
    background-size: cover;
    height: 770px;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: white;
}

button, button:active, button:focus {
    outline: none;
}

.input-sign-up{
    outline: 0;
    outline-offset: 0;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4);
    margin-bottom: 54px;
}

.logotype{
    margin: 18px 704px 18px 79px;
}

.icon{
    display: flex;
    width: 126px;
    justify-content: space-between;
    align-items: center;
    margin-right: 27px;
}

.icon:after{
    content:"";
    border-left: 1px solid rgba(255, 255, 255, 0.9);
    height: 19px;
    opacity: 0.5;
}


.sign_up{
    color: white;
}

.header-container img:hover{
    filter: invert(74%) sepia(8%) saturate(3113%) hue-rotate(95deg) brightness(82%) contrast(82%);
    transform: scale(1.5);
    transition: 0.2s;
}

.header-container a:hover{
    color: #01813F;
}

.form-header{
    display: flex;
    justify-content: space-between;
    padding-top: 29px;
}

.form-header h1{
    font-size: 20px;
    line-height: 20px;
    margin-right: 216px;
    margin-left: 29px;
}

.form-header a{
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    margin-right: 59px;
}

.form-header a:hover{
    color: #01813F;
}

.or{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
}

.or::after, .or::before{
    content:"";
    border-top: solid 1px #F2F2F2;
    width: 152px;
    margin: 8px;
}

.btn_login{
    display: flex;
    justify-content: center;
    margin-top: 14px;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 160px;
    height: 44px;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
}

.btn-facebook:after{
    content:"";
    width: 1px;
    height: 28px;
    background: #2B0D09;
    opacity: 0.1;
    position: relative;
    right: 100px;
}

.btn-google:after{
    content:"";
    width: 1px;
    height: 28px;
    background: #2B0D09;
    opacity: 0.1;
    position: relative;
    right: 90px;
}

.btn-facebook{
    background-color: #305DB8;
    margin-right: 8px;
}

.btn-facebook:hover{
    background-color:#022263;
    transition: 0.5s;
}

.btn-google{
    background-color: #DF4A32;
    margin-left: 8px;
}

.btn-google:hover{
    background-color: #AB1F09;
    transition: 0.5s;
}

.form-container{
    margin-left: auto;
    margin-right: auto;
    width: 444px;
    background-color:white;
}

::-webkit-input-placeholder {color:#BEBEBE;}

.input-sign-up:focus::-webkit-input-placeholder {
    opacity: 0; transition: opacity 0.3s ease;
}

.input-create{
    margin: 15px 60px 38px 60px;
    width: 324px;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
    color: white;
    font-size: 16px;
    line-height: 16px;
}

.input-create:hover{
    background-color: #01813F;
    transition: 0.5s;
}

.input-sign-up[type="text"], .input-sign-up[type="email"], .input-sign-up[type="password"]{
    width: 324px;
    height: 46px;
    padding-left: 20px;
    margin: 15px 56px 0px 56px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    box-sizing: border-box;
    display: block;
}

.input-sign-up[type="checkbox"]{
    font-size: 14px;
    line-height: 14px;
    position: absolute;
    margin-left: 57px;
    margin-top: 12px;
}

.input-sign-up[type="checkbox"] + label {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin-left: 57px;
}

.input-sign-up[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    vertical-align: -25%;
    height: 2ex;
    width: 2ex;
    background-color: white;
    border: 1px solid#F2F2F2;
    margin-right: 0.5em;
    margin-top: 12px;
 }

 .input-sign-up[type="checkbox"]:checked + label::after {
    content: '';
    position: absolute;
    width: 1.2ex;
    height: 0.4ex;
    background: rgba(0, 0, 0, 0);
    top: 0.9ex;
    left: 0.4ex;
    border: 3px solid #3CB878;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
 }

 .input-sign-up:focus::-webkit-input-placeholder {
    opacity: 0; transition: opacity 0.3s ease;
}

.input-sign-up:focus{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21)
}

.checkbox{
    color: #3CB878;
}