@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    max-width: 100%;
}

a{
    text-decoration: none;
    color: white;
}

.nav-container{
    display: flex;
    flex-direction: row;/*элементы расположены в ряд*/
    justify-content: space-between;/*элементы распределены равномерно вдоль главной оси без отступов по краям*/
    background: #313131;
    align-items: center; /*центрирует текст по вертикали*/
}

.nav-logo{
    display: flex;
    justify-content: space-around;/*элементы распределены равномерно вдоль главной оси с небольшими отступами по краям*/
    align-items: center; /*центрирует текст по вертикали*/
    width: 188px;
}

/* .nav-logo :first-child{
    margin: 21px 27px;
} */

.nav-logo :last-child{
    color: white;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
}

.nav-menu{
    width: 722px;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between; /*элементы распределены равномерно вдоль главной оси без отступов по краям*/
    text-transform: uppercase; /*все буквы заглавные*/
}

.nav-menu a:hover{
    color: #14B9D5
}

.nav-search{
    width: 70px;
    background: #000000;
}

.nav-search-img{
    margin: 25px 25px;
}

.header-background{
    background-image: url(../img/header-background.jpeg);
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;/*растягивает картинку*/
    /* align-items: center; центрирует блоки по вертикали
    justify-content: center; центрирует блоки по горизонтали */
    
}

.header-background-text{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 27px;
    line-height: 37px;
    color: white;
    text-align: center;
    padding-top: 163px;
    padding-bottom: 44px;
}

.header-button{
    display: flex;
    justify-content: center;
    padding-bottom: 74px;
}

.btn{
    width: 170px;
    height: 55px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    border:none;
    border-radius: 4px;
    cursor: pointer;
}

.header-button :first-child{
    background: #89CA62;
    margin-right: 10px;
}

.header-button :last-child{
    background: #14B9D5;
    margin-left: 10px;
}

.most-popular-posts-container{
    background: #F2F2F2;
    padding-bottom: 72px;
}

.post-title{
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #18B4CF;
    text-transform: uppercase;
    text-align: center;
    padding: 50px;
}

.most-popular-posts-img{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    text-align: center;
    justify-items: center;
    align-items: center;
    padding-left: 165px;
    padding-right: 165px;
}

.most-popular-posts-img > div >a > img{
    transition: 0.8s;
}

.most-popular-posts-img > div > a> img:hover{
    transform: scale(1.1);
}

.item-img p{
    color: #353A3D;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    background-color: white;
    padding: 20px;
}

.parallax-container{
    background-image: url(../img/parallax-background.jpeg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 200px;
}

.parallax-popular-title{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 32px;
    line-height: 44px;
    color: white;
    text-align: center;
    padding: 156px;
}

.parallax-popular-clients-logo{
    width: 881px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}

.parallax-popular-clients-logo >a > img{
    transition: 1s;
}

.parallax-popular-clients-logo >a > img:hover{
    transform: scale(1.2);
}

.top-rated-img{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.top-rated-img > div{
    display: inline-block;
    overflow: hidden;
}

.top-rated-img > div > img{
    max-width: 100%;/*фотки всегда растягиваються на максимальную ширину*/
    transition: 1s; /* Время эффекта */
    display: block;
}

.top-rated-img > div > img:hover{
    transform: scale(1.2);
}

.hot-news-container{
    padding-bottom: 70px;
}

.hot-news-content{
    display: grid;
    grid-template-columns: 856px 277px;;
    text-align: center;
    justify-content: center;
    grid-gap: 35px;
    margin-bottom: 45px;
}

.hot-news-content h3{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    background: #F9F7F7;
    padding: 14px 27px 11px 27px;
}

.hot-news-content p{
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
    margin-right: 24px;
}

.hot-news-content-item-top{
    display: flex;
    text-align: end;
}

.hot-news-item-top-imgtext{
    background: #F9F7F7;
}

.hot-news-item-top-imgtext h3{
    padding: 41px 24px 14px 31px;
}

.hot-news-content-center{
    display: grid;
    grid-template-columns: 554px 554px;
    grid-gap: 45px 60px;
    text-align: end;
    justify-content: center;
}

.hot-news-content-center-item{
    display: flex;
    flex-direction: column;
}

.hot-news-content-center-item-imgtext{
    background-color: #F9F7F7;
}

.hot-news-content-center-item-imgtext p{
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
    margin-right: 14px;
    margin-bottom: 3px;
    margin-left: 14px;
    margin-top: 14px;
}

.hot-news-content-center-item-imgtext h3{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    margin-top: 13px;
    margin-left: 0px;
    margin-right: 27px;
}

.hot-news-content-bottom{
    display: grid;
    grid-template-columns: 277px 856px;
    text-align: center;
    justify-content: center;
    grid-gap: 35px;
    margin-top: 45px;
}

.hot-news-content-bottom h3{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    background: #F9F7F7;
    padding: 14px 27px 11px 27px;
}

.hot-news-content-bottom p{
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
    padding: 15px 24px 40px 0px;
    background: #F9F7F7;
}

.hot-news-content-item-bottom{
    display: flex;
    text-align: end;
}

.hot-news-content-item-bottom-imgtext{
    background: #F9F7F7;
}


.footer-logo-copyright{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items:center;
    justify-items: center;
    height: 80px;
    background: #000000;
    color: white;
}

.footer-logo-copyright p{
    font-size: 13px;
    line-height: 13px;
    margin-left: 290px;
}

.footer-logo-container :last-child{
    margin-bottom: 8px;

}