@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

.wrapper{
    font-family: 'Montserrat', sans-serif;
    max-width: 1920px ;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color:white;
}

.container_header{
    background-image: url(../img/background/section-1.jpg);
    background-attachment: fixed;
    background-position: top;
}

.nav_header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(94, 93, 88, 0.6);
}

.nav_header a:hover{
    color: #18CFAB;
    ;
}

.nav_logo{
    display: flex;
    align-items: center;
    margin: 26px 305px 27px 393px;
}

.nav_logo::before{
    content:"H";
    font-weight: bold;
    font-size: 40px;
    line-height: 31px;
    color: #FFFFFF;
    position: relative;
    left: 45px;
}

.nav_logo :first-child{
    margin-right: 6px;
}

.nav_menu{
    font-size: 16px;
    line-height: 24px;
    width: 615px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.nav_menu li{
    margin-right: 21px;
}

.nav_search{
    margin-right: 380px;
}

.header_home{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin-top: 379px;
    margin-bottom: 134px;
}

.header_home_title_top{
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 22px;
}

.header_home_title_center{
    font-weight: bold;
    font-size: 78px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 22px;
}

.header_home_title_color{
    color: #18CFAB;
}

.header_home_title_bottom{
    font-size: 34px;
    color: #D4D4D4;
}

.header_button{
    text-align: center;
    padding-bottom: 243px;

}

.btn{
    cursor: pointer;
    width: 169px;
    height: 63px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
    outline: 0;
    box-shadow: 0px -5px 0px;
}

.btn-explore-now{
    background-color: #18CFAB;
}

.btn-purchase-now{
    background-color:#00CBF6;
    margin-left: 26px;
}

.container_option{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 83px;
}

.option_item{
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}

.option_item:nth-child(odd){
    background: #1C2A33;
    color: #18CFAB;
    padding-top: 85px;
}

.option_item:nth-child(even){
    background: #18CFAB;
    color: white;
    padding-top: 95px;
}

.option_item img:hover,.option_item img:hover{
    transform: scale(1.8);
    transition: 0.5s;
}

.option_item:nth-child(odd) p{
    padding-top: 47px;
    padding-bottom: 110px;
}

.option_item:nth-child(even) p{
    padding-top: 58px;
    padding-bottom: 110px;
}

.title{
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #4E4E4E;
}

.title_service{
    margin-bottom: 101px;
}

.title_service::after,.title_work::after,.title_news::after{
    content:"";
    border-top: 2px solid #18CFAB;
    width: 78px;
    display: block;
    position: relative;
    left: 915px;
    margin-top: 24px;
}

.title_service::before,.title_work::before,.title_news::before{
    content:"";
    border-top: 2px solid #18CFAB;
    width: 78px;
    display: block;
    position: relative;
    left: 930px;
    top: 70px;
}

.btn_service_content{
    width: 192px;
    height: 72px;
    background: #F8FCFE;
    border: 1px solid #F2F2F2;
    font-size: 16px;
    line-height: 39px;
    text-align: center;
    color: #717171;
    cursor: pointer;
}

.btn_service_content:hover{
    border: 1.5px solid #18CFAB;
}

.btn_service_content:focus{
    outline: 0;
    color: white;
    border:none;
    background: #18CFAB;
    padding-right: 33px;
}

.service_content{
    width: 1160px;
    margin: 0 auto;
}

.web-design{
    display: flex;
    margin-top: 23px;
    margin-bottom: 91px;
}

.service_text{
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
}

.service_img{
    margin-right: 15px;
}

.btn_service_content:focus::before{
    content: url(../img/icon/service-triangle.svg);
    position: relative;
    top: 42px;
    left: 60px;
}

.container_purchase{
    background-image: url(../img/background/purchase.png);
    background-size: cover;
    background-position: center;
    border: solid 1px transparent;
    text-align: center;
    padding-bottom: 127px;
}

.purchase_title{
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #18CFAB;
    margin-top: 127px;
}

.purchase_text{
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
    margin-top: 12px;
    margin-bottom: 62px;
}

.container_work{
    background: #E9EDEF;
    text-align: center;
}

.title_work{
    padding-top: 95px;
    padding-bottom: 97px;
}

.menu_work{
    text-align: center;
    padding-bottom: 70px;
}

.btn_work{
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #DADADA;
    outline: 0;
    padding: 20px;
    cursor: pointer;
}

.btn_work:hover{
    border: 1px solid #18CFAB;
    color: #18CFAB;
}

.menu_work button:first-child{
    padding: 20px 30px;
}

.content_work{
    width: 1160px;
    margin: 0 auto;
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.content_work_img{
    position: relative;
}

.content_work1:hover .work_hidden_menu{
    display: block;
}

.content_work_img{
    width: 100%;
    height: 100%;
}

.btn_work_load{
    width: 168px;
    height: 63px;
    background: #18CFAB;
    color: white;
    cursor: pointer;
    font-size: 14px;
    line-height: 42px;
    text-transform: uppercase;
    border:none;
    outline: 0;
    border-radius: 4px;
    margin-top: 70px;
    margin-bottom: 99px;
}

.btn_work_load img{
    margin-right: 15px;
}

.container_news{
    margin-top: 82px;
}

.news{
    width: 1160px;
    margin: 0 auto;
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 35px;
    margin-bottom: 129px;
}

.img-text_news{
    position: relative;
}

.news_date_square{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 70px;
    height: 68px;
    left: 193px;
    top: 0px;
    background: #203E38;
    color: white;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}

.news_name_post{
    display: block;
    font-weight: bold;
    font-size: 18px;
    line-height: 39px;
    text-align: center;
    color: #717171;
    margin-right: 50px;
}

.news_coment{
    display: block;
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: #777777;
    margin-right: 65px;
}

.img-text_news:hover .news_date_square{
    background: #18CFAB;
    color: white;
}

.img-text_news:hover .news_name_post{
    color: #18CFAB;
}

.work_hidden_menu{
    display: none;
    position: absolute;
    top: 0px;
    width: 290px;
    height: 208px;
    background: #E9EDEF;
    border-top: 6px solid #18CFAB;
}

.work_hidden_menu_btn{
    border-radius: 30px;
    width: 43px;
    height: 43px;
    outline: 0;
    cursor: pointer;
    margin-top: 40px;
}

.btn_icon{
    border: 1px solid #18CFAB;
    margin-right: 3px;
}

.btn_stop{
    background: #18CFAB;
    border: none;
}

.work_hidden_menu_title{
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
    color: #18CFAB;
    display: block;
    padding-top: 30px;
}

.work_hidden_menu_text{
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    color: #8A8A8A;
}

