@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
a{
    text-decoration: none; /*убирает синий текст и подчеркивание на ссылках*/
}

.menu {
    padding: 25.5px 72px;
    text-align: center;
    margin: 0px;
}

.menu li {
    display: inline;
    color: red;
    font-size: 18px;
    margin-right: 72px;
    letter-spacing: 2.7px;
}

.menu li a {
    color:red;
    text-transform: uppercase;
    font-weight: bold;
}

img{
    max-width: 1200px;
    text-align: center;
}

.content{
    width: 1200px;
    margin: 0 auto;
}

h2 {
    margin: 49px 253px 38px 253px;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px; /*отступ между буквами*/
    text-transform: uppercase; /*все буквы заглавные*/
}

.text-1{
    margin: 67.5px 0px 67.5px 28px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
}

.text-2{
    margin: 67.5px 0px 67.5px 28px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
}

button{
    width: 191px;
    height: 51px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #FF0000;
    color: white;
    border-radius: 4px;

}

.footer{
    margin: 66px 42px;
    text-align: end; /*сдвиг вправо*/
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
}