@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.wrapper{
    font-family: 'Roboto', sans-serif;
    background-image: url(../img/background.jpg);
    width: 1366px;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: white;
}

.contacts a:hover{
    color: #F26522;
}

.logo-contacts{
    display: flex;
    justify-content: space-between;
    width: 1028px;
    height: 61px;
    margin: 0 auto;
    padding-top: 46px;
    padding-bottom: 17px;
}

.logo{
    display: flex;
}

.icon{
    background :url(../img/logo.png);
    width: 53px;
    height: 47px;
    margin: auto;
    margin-right: 8px;
}

.logo-contacts>a:hover .icon{
    background :url(../img/logo-orange.png);
    width: 53px;
    height: 47px;
    margin: auto;
    margin-right: 8px;}
.logo-contacts>a:hover .text-logo{
    color:#F26522;
}

.text-logo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.text-logo :first-child{
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
    text-transform: uppercase;
}

.text-logo :last-child{
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
}

.contacts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: end;
    font-size: 18px;
    line-height: 18px;
}

.tours-content{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 220px 220px;
    grid-column-gap: 62px;
    grid-row-gap: 78px;
    text-align: center;
    justify-content: center;
    margin-bottom: 90px;
}

.tours-content p{
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    margin-top: 20px;
    }

    .img-border-top{
        width: 310px;
        height: 220px;
        padding: 2px;
        position: relative;
        background: linear-gradient(180deg ,white, transparent);
    }

.img-border-bottom{
        width: 310px;
        height: 220px;
        padding: 2px;
        position: relative;
        background: linear-gradient(0deg ,white, transparent);
}

.img-active{
    width: 314px;
    height: 57px;
    margin: auto;
    box-sizing: border-box;
    background: #F26522;
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: none;
}

.img-active h6{
    text-align: left;
    font-size: 10px;
    line-height: 10px;
    padding-top: 7px;
    padding-left: 16px;
}

.info-active{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.price-active{
    font-size: 20px;
    line-height: 20px;
    margin-left: 16px;
    margin-top: 8px;
}

.details-active{
    font-size: 14px;
    line-height: 14px;
    margin-right: 37px;
}

.img-border-top:hover .img-active{
    display: block;
}

.img-border-bottom:hover .img-active{
    display: block;
}

.img-border-top:hover p{
    color: #F26522;
}

.img-border-bottom:hover p{
    color: #F26522;
}

.details-active::after{
    content: url(../img/vector.svg);
    left: 290px;
    top: 32px;
    position: absolute;
}

.copyrihgt{
    font-size: 12px;
    line-height: 12px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 15px;
}
