@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.wrapper{
    width: 1280px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color:white;
}

.logo{
    margin: 61px 0px 38px;
}

.logo a{
    font-size: 80px; 
    color: #000000;
}

.color_logo{
    color: #4bcaff;
}

.header_menu{
    display: flex;
    justify-content: space-between;
}

.header_menu :nth-child(1), .header_menu :nth-child(3){
    width: 50%;
}

.header_menu a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 72px;
    color: white;
    font-size: 24px;
    line-height: 28px;
    border-left:  1px solid #ffffff;
    background: #35444f;
}

.header_menu a:hover{
    background: #222F3A;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}

.left_menu{
    width: 344px;
    height: 399px;
    border: 1px solid black;
    margin-top: 55px;
}

.left_menu_item{
    display: flex;
    align-items: center;
    height: 79.82px;
    font-size: 27px;
    line-height: 27px;
    color: #495863;
    padding-left: 44px;
}

.left_menu_item:hover{
    background: #DBDBDB;
    padding-left: 75px;
    color: #4c4f35;
}

.content{
    width: 885px;
    height: 529px;
    border: 1px solid black;
    margin-top: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 37px;
}

.content_image{
    background-image: url(../img/top-img.png);
    background-size: cover;
    width: 320px;
    height: 381px;
}

.content_image:hover{
    transform: scale(1.2);
    transition: 0.7s;
}

.content_text{
    width: 885px;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-bottom: 34px;
    text-align: start;
}

.content_text p{
    margin-bottom: 34px;
}

.footer{
    height: 69px;
    background: rgba(99, 105, 110, 0.48);
    margin-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer_links a{
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    margin-right: 25px;
}

.footer_copyright{
    font-size: 24px;
    line-height: 24px;
    color: #010101;
}

.footer_links_item:hover{
    color:#3080a7;
    text-decoration: underline;
}